<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.playfab.gpluginbarebone">
    
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23"  tools:overrideLibrary="com.google.android.gms.all" />
  <application>
    <!-- [START fcm_default_icon] -->

    <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_stat_ic_notification" />

    <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />
    <!-- [END fcm_default_icon] -->

    <!-- [START fcm_default_channel] -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel"
        android:value="@string/default_notification_channel_id"/>
    <!-- [END fcm_default_channel] -->

    <!-- [START firebase_service] -->
    <service
        android:name="com.playfab.unityplugin.GCM.PushListenerService"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <!-- [END firebase_service] -->

    <!-- [START firebase_iid_service] -->
    <service
        android:name="com.playfab.unityplugin.GCM.PushInstanceIDListenerService"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>
    <!-- [END firebase_iid_service] -->

    <service android:name="com.playfab.unityplugin.GCM.PushRegistrationIntentService"
             android:exported="true"
             android:enabled="true">

    </service>
  </application>
</manifest>